.card {
  list-style: none;
  cursor: pointer;
  /* margin: 0; */
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(64, 69, 83);
  padding: 15px;
  margin-right: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-head-box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card-head {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  z-index: 3;
}

.card-head-div {
  margin-bottom: 5px;
}

.card-head-text-box {
  max-width: 100%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid;
  color: rgb(56, 102, 223);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px 6px;
}

.card-head-text {
  flex: 1 1 0%;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-empty-box {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.card-container-box {
  position: relative;
  margin: -15px -15px 0px;
}

.card-inner-box {
  position: relative;
  padding-bottom: 136.375%;
  padding-left: 73.327%;
  width: 100%;
}

.inner-icon-box {
  position: absolute;
  inset: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.card-img-box {
  position: absolute;
  inset: 0px;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* //////////////////// */

.card-body {
  padding-top: 12px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.card-body-title {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
  height: 39.2px;
  overflow: hidden;
}

.card-body-span {
  position: fixed;
  visibility: hidden;
  top: 0px;
  left: 0px;
}

.card-price-box {
  flex: 1 1 0%;
  position: relative;
  z-index: 3;
}

.card-price {
  font-size: 1.28571rem;
}

.old-price-box {
  margin-top: 1px;
  font-size: 0.857143rem;
}

.old-price {
  text-decoration: line-through;
  color: rgb(126, 133, 155);
  margin-right: 4px;
}

.price-discount {
  color: rgb(56, 174, 4);
  font-weight: bold;
  text-transform: uppercase;
}

.card-footer {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.card-arrive-time .em {
  font-weight: bold;
}

.card-arrive-box span {
  white-space: nowrap;
}

.card-arrive-status-box {
  min-height: 16px;
  margin-top: 14px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.arrive-status-img-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.arrive-status-img {
  width: auto;
  height: 16px !important;
  max-width: unset;
  max-height: unset;
  display: block;
}

.status-stars-box {
  margin-left: auto;
}

.status-stars {
  font-size: 0.928571rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.star-icon {
  position: relative;
  top: -1px;
}

.status-stars .rating-value {
  color: rgb(245, 165, 35);
  font-weight: bold;
  margin-left: 2px;
  margin-right: 4px;
}

.status-stars .rating-count {
  color: rgb(178, 184, 202);
  white-space: nowrap;
}

.rating-count > svg {
  position: relative;
  top: 1px;
}

.rating-count .count {
  margin: 0px 1px;
}
