* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 14px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
